<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Hello Vue!</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        {{message}}
    </div>
    <!--when we go to the line there will be appear the text-->
    <div id="app2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds to see the title!
        </span>
        <a v-bind:href="linkURL" target="_blank">{{linkText}}</a>
    </div>
    <!--hide or not the text-->
    <div id="app3">
        <span v-if="seen">Now you see me</span>
    </div>
    <!--order list-->
    <div id="app4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <!--reversing text-->
    <div id="app5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">
            Reverse the message!
        </button>
    </div>

    <!--binding-->
    <div id="app6">
        <p>{{message}}</p>
        <input v-model="message">
    </div>

    <script src="scripts/index.js"></script>
</body>
</html>